# Chapter 3 SQL for SQLite

<div id="toc"></div>

## 3.1 The Example Database

In [ ]:
# %load ch03/ch03.sql
create table episodes (
  id integer primary key,
  season int,
  name text );

create table foods(
  id integer primary key,
  type_id integer,
  name text );

create table food_types(
  id integer primary key,
  name text );

create table foods_episodes(
  food_id integer,
  episode_id integer );

In [ ]:
create table episodes ( id integer primary key, season int, name text );
create table foods( id integer primary key, type_id integer, name text );
create table food_types( id integer primary key, name text );
create table foods_episodes( food_id integer, episode_id integer );

### Installation

In [ ]:
sqlite3 foods.db < foods.sql

### Running the Examples

In [ ]:
sqlite3 foods.db < foods.sql

In [ ]:
.echo on .mode column .headers on .nullvalue NULL

In [ ]:
select *
from foods
where name='JujyFruit'
and type_id=9;

In [ ]:
select f.name name, types.name type
from foods f
inner join (
  select *
  from food_types
  where id=6) types
on f.type_id=types.id;

## 3.2 Syntax

In [ ]:
select burger
from kitchen
where patties=2
and toppings='jalopenos'
and condiment != 'mayo'
limit 1;

### Commands

In [ ]:
select id, name from foods;
insert into foods values (null, 'Whataburger');
delete from foods where id=413;

### Literals

In [ ]:
'Derry'
'Newman'
'DujyFruit'

In [ ]:
'Kenny''s chicken'

In [ ]:
3.142
6.0221415E23

In [ ]:
x'Ol'
X'Offf'
x'OFOEFF'
X'OfOeffab'

### Keywords and Identifiers

In [ ]:
SELECT * from foo;
SeLeCt * FrOm F00;

### Comments

Comments in SQLite are denoted by two consecutive hyphens (--),  
which comment the remaining line, or by the multiline C-style notation (/* */),  
which can span multiple lines. Here’s an example:  
```sql
-- This is a comment on one line 
/* This is a comment spanning 
two lines */
```

## 3.3 Creating a Database

### Creating Tables

In [ ]:
create [temp] table table_name (column_definitions [, constraints]);

In [ ]:
create [temp|temporary] table ... ;

In [ ]:
create table contacts ( id integer primary key,
                       name text not null collate nocase, 
                       phone text not null default 'UNKNOWN', 
                       unique (name,phone) );

### Altering Tables

In [ ]:
alter table table { rename to name | add column column_def }

In [ ]:
alter table contacts
        add column email text not null default '' collate nocase;

In [ ]:
.schema contacts

In [ ]:
create table contacts ( id integer primary key,
                        name text not null collate nocase,
                        phone text not null default 'UNKNOWN',
                        email text not null default '' collate nocase,
                        unique (name,phone) );

## 3.4 Querying the Database

### Relational Operations

### Select and the Operational Pipeline

In [ ]:
select [distinct] heading 
from tables 
where predicate 
group by columns 
having predicate 
order by columns 
limit count, offset;

In [ ]:
select heading from tables where predicate;

In [ ]:
sqlite> select id, name from foodjtypes;

In [ ]:
select * from foodjtypes;

### Filtering

In [ ]:
select * from dogs where color='purple' and grin='toothy';

* Values

* Operators

In [ ]:
x = count(episodes.name) y = count(foods.name) z = y/x * 11

* Binary Operators

In [ ]:
x>5
1<2

In [ ]:
sqlite> SELECT l>2;
l>2

In [ ]:
sqlite> SELECT l<2;
l<2

In [ ]:
sqlite> SELECT 1=2;
1=2

In [ ]:
sqlite> SELECT -1 AND l;
-1 AND 1 1

* Logical Operators

In [ ]:
(x > 5) AND (x != 3)
(y < 2) OR (y > 4) AND NOT (y = 0)
(color='purple') AND (grin='toothy')

In [ ]:
sqlite> select * from foods where name='3ujyFruit' and type_id=9;

* The LIKE and GLOB Operators

In [ ]:
select id, name from foods where name like 'J%';

In [ ]:
select id, name from foods where name like '%ac%P%';

In [ ]:
select id, name from foods
        where name like '%ac%P%' and name not like '%Sch%'

In [ ]:
sqlite> select id, name from foods 
...> where name glob 'Pine*';

### Limiting and Ordering

In [ ]:
select * from food_types order by id limit 1 offset 1;

In [ ]:
select * from foods where name like 'B%'
        order by type_id desc, name limit 10;

In [ ]:
select * from foods where name like 'B%'
order by type_id desc, name limit 1 offset 2;

In [ ]:
select * from foods where name like 'B%'
        order by type_id desc, name limit 2,1;

### Functions and Aggregates

In [ ]:
select upper('hello newman'), length('hello newman'), abs(-12);

In [ ]:
select id, upper(name), length(name) from foods
        where type_id=1 limit 10;

In [ ]:
select id, upper(name), length(name) from foods
        where length(name) < 5 limit 5;

In [ ]:
select count(*) from foods where type_id=1;

In [ ]:
select avg(length(name)) from foods;

In [ ]:
select type_id from foods group by type_id;

### Grouping

In [ ]:
select type_id, count(*) from foods group by type_id;

In [ ]:
select type_id, count(*) from foods
        group by type_id having count(*) < 20;

In [ ]:
select type_id, count(*) from foods;

### Removing Duplicates

In [ ]:
select distinct type_id from foods;

In [ ]:
select foods.name, food_types.name
        from foods, food_types
        where foods.type_id=food_types.id limit 10;

* Inner Joins

In [ ]:
Select *
From foods inner join food_types on foods.id = food_types.id;

* Cross Joins

In [ ]:
select * from foods, food_types;

* Outer Joins

In [ ]:
select *
from foods left outer join foods_episodes on foods.id=foods_episodes.food_id;

* Natural Joins

* Preferred Syntax

In [ ]:
select * from foods, food_types where foods.id=food_types.food_id;

In [ ]:
select * from foods inner join food_types on foods.id=food_types.food_id;
select * from foods left outer join food_types on foods.id=food_types.food_id;
select * from foods cross join food_types;

### Names and Aliases

In [ ]:
select foods.name, food_types.name
from foods, food_types
where foods.type_id = food_types.id
limit 10;

In [ ]:
select f.name, t.name
from foods f, food_types t
where f.type_id = t.id
limit 10;

In [ ]:
select f.name as food, e1.name, e1.season, e2.name, e2.season
from episodes e1, foods_episodes fe1, foods f,
     episodes e2, foods_episodes fe2
where
  -- Get foods in season 4
  (e1.id = fe1.episode_id and e1.season = 4) and fe1.food_id = f.id
  -- Link foods with all other epsisodes
  and (fe1.food_id = fe2.food_id)
  -- Link with their respective episodes and filter out e1's season
  and (fe2.episode_id = e2.id AND e2.season != e1.season)
order by f.name;

### Subqueries

In [ ]:
sqlite> select 1 in (l,2,3);

In [ ]:
sqlite> select 2 in (3,4,5);

In [ ]:
sqlite> select count(*)
...> from foods
...> where type_id in (l,2);

In [ ]:
select count(*)
from foods
where type_id in
 (select id
  from food_types
  where name='Bakery' or name='Cereal');

### Compound Queries

In [ ]:
select * from foods f
order by (select count(type_id)
from foods where type_id=f.type_id) desc;

In [ ]:
select f.name, types.name from foods f
inner join (select * from food_types where id=6) types
on f.type_id=types.id;

In [ ]:
select f.*, top_foods.count from foods f
inner join
  (select food_id, count(food_id) as count from foods_episodes
     group by food_id
     order by count(food_id) desc limit 1) top_foods
  on f.id=top_foods.food_id
union
select f.*, bottom_foods.count from foods f
inner join
  (select food_id, count(food_id) as count from foods_episodes
     group by food_id
     order by count(food_id) limit 1) bottom_foods
  on f.id=bottom_foods.food_id
order by top_foods.count desc;

In [ ]:
select f.* from foods f
inner join
  (select food_id, count(food_id) as count
     from foods_episodes
     group by food_id
     order by count(food_id) desc limit 10) top_foods
  on f.id=top_foods.food_id
intersect
select f.* from foods f
  inner join foods_episodes fe on f.id = fe.food_id
  inner join episodes e on fe.episode_id = e.id
  where e.season between 3 and 5
order by f.name;

In [ ]:
select f.* from foods f
inner join
  (select food_id, count(food_id) as count from foods_episodes
     group by food_id
     order by count(food_id) desc limit 10) top_foods
  on f.id=top_foods.food_id
except
select f.* from foods f
  inner join foods_episodes fe on f.id = fe.food_id
  inner join episodes e on fe.episode_id = e.id
  where e.season between 3 and 5
order by f.name;

### Conditional Results

In [ ]:
select name || case type_id
                 when 7  then ' is a drink'
                 when 8  then ' is a fruit'
                 when 9  then ' is junkfood'
                 when 13 then ' is seafood'
                 else null
               end description
from foods
where description is not null
order by name
limit 10;

In [ ]:
case
    when count(*) > 4 then 'Very High'
    when count(*) = 4 then 'High'
    when count(*) in (2,3) then 'Moderate'
    else 'Low'
end

In [ ]:
select name,( select 
                case
                    when count(*) > 4 then 'Very High'
                    when count(*) = 4 then 'High'
                    when count(*) in (2,3) then 'Moderate'
                    else 'Low'
                end 
            )
            from foods_episodes
            where food_id=f.id) frequency
from foods f
where frequency like '%High';

### Joining Tables

### Handling Null in SQLite

In [ ]:
select *
from mytable
where myvalue = null;

In [ ]:
sqlite> select NULL is NULL;

In [ ]:
sqlite> select nullif(l,l); null
sqlite> select nullif(l,2);

### Summary

Congratulations, youhave learned the select command for SQLite’s implementation of SQL.  
Not only have you learned how the command works, but you’ve learned some relational theory in the process.  
You should now be comfortable with using select statements to queryyour data, join, aggregate, summarize, and dissect it for various uses.  
We’ll continue the discussion of SQL in the next chapter, where we’ll build on your knowledge of select by introducing the other members of DML, as well as DDL and other helpful SQL constructs in SQLite.